<!doctype html>
<html lang="{{ site.Language.Locale }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.Title }}</title>
  <meta name="description" content="{{ site.Params.description }}">
  <meta property="og:title" content="{{ site.Title }}">
  <meta property="og:description" content="{{ site.Params.description }}">
  <link rel="canonical" href="{{ .Permalink }}">
  {{ partial "css.html" . }}
</head>
<body>
  <div class="wrap">
    {{ partial "header.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
  </div>
</body>
</html>
